body {
    font-family: "Roboto", serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
}
.installcommand {
    font-family: "Roboto Mono", serif;
    margin: 10px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 8px;
}
.topbar {
    margin: 0;
    background-color: #593196;
    color: #ffffff;
    padding: 15px;
    font-size: 24px;
}
.warning {
    background-color: #fcedd2;
    border-color: #fae3bb;
    border-width: 5px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}